<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAOSGOODY 毛氏好豆｜好毛豆給你好心情</title>
    <link href="pic/favicon.ico" rel="icon">
    <link rel="stylesheet" href="reset.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lexend+Deca:wght@200;300;400;500;600;700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Quicksand:wght@300;400;500;600&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">


</head>

<body>

    <div id="app">
        <input type="checkbox" id="menu_switch">
        <header class="main_header">
            <div class="container">
                <a :href="homeLink" class="logo">
                    <img :src="navLogo" alt="MAOSGOODY | 毛氏好豆">
                </a>


                <ul class="nav_list" v-for="list in navList" :key="list.index" >
                    <li><a :href="list.link">{{list.name}}</a></li>
                </ul>
                <ul class="nav_button">
                    <li>
                        <a :href="loginLink">
                            <img :src="loginImg" alt="Log in">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img :src="cart" alt="Cart">
                        </a>
                    </li>
                </ul>
                <label for="menu_switch" class="hb">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
        </header>


        <section class="section_banner">
            <div class="banner_container">
                <div class="banner_pic">
                    <img src="pic/banner_n.jpg" alt="">
                    <div class="banner_deco">
                        <img src="pic/banner_deco.png" alt="">
                    </div>
                </div>
                <div class="banner_text">
                    <p class="intro">Fresh. Nutritious. Eco-friendly.<br>
                        The Best Edamame Farm in Taiwan.</p>
                    <h1 class="title">Life’s<br>Bean Good.</h1>
                    <p class="title_ch">好日子，好心情，好毛豆。</p>
                </div>  
            </div>
        </section>


    <section class="section_about">
        <div class="about_container">
            <div class="keyvisual">
                <div class="kv_pic">
                    <img src="pic/keyvisual_s.png" alt="">
                </div>
                <p class="kv_text">嗨，我們是毛氏好豆</p>
            </div>
            <div class="outline">
                <h3 class="outline_title">ABOUT</h3>
                <p class="outline_text">
                    一座自產自銷的毛豆農場<br>
                    每天從土地到餐桌<br>
                    不斷嘗試小小豆子的無限可能<br>
                    用熱情讓更多人能享用毛豆的美味</p>
                <div class="button">
                    <a href="about.html">Read More</a>
                </div>

            </div>
        </div>
    </section>

        <section class="section_products">
            <div class="products_container">
                <div class="products_header">
                    <div class="header_pic">
                        <img src="pic/products_pic_s.jpg" alt="">
                    </div>
                    <div class="header_text">
                        <h3 class="title">PRODUCTS</h3>
                        <p class="subtitle">打包一口自然，讓豆香走進日常</p>
                    </div>

                </div>
                <div class="products_cardlist">
                    <div class="products_card" v-for="product in products" :key="product.index">
                        <a :href="productLink">
                            <div class="card_pic">
                                <img :src="product.img" :alt="product.name_tw">
                            </div>
                        </a>
                        <div class="card_text">
                            <h4 class="product_name">{{product.name_tw}}</h4>
                            <p class="english_name">{{product.name_en}}</p>
                            <p class="weight">{{product.weight}}</p>
                            <p class="price"><span>NT </span>{{product.price}}</p>
                        </div>
                    </div>

                </div>
                <div class="products_button">
                    <a href="products.html">See All</a>
                </div>
            </div>
        </section>


        <section class="section_newsticker">
            <div class="newsticker_list">
                <div class="newsticker_content first">
                    <img :src="newsticker" :alt="newsticker">
                </div>
                <div class="newsticker_content second">
                    <img :src="newsticker" :alt="newsticker">
                </div>
            </div>
        </section>
        <div class="news_container">
            <h3 class="title">NEWS</h3>
            <div class="news_list">
                <div class="news_wrap" v-for="news in newsList">
                    <div class="news_content">
                        <div class="news_pic">
                            <img :src="news.imgSrc" alt="">
                        </div>
                        <div class="news_text">
                            <p class="date">{{ news.date }}</p>
                            <p class="news_title">{{ news.title }}</p>
                            <p class="news_article">{{ news.article }}</p>
                        </div>
                    </div>
                    <div class="news_function">
                        <div class="news_label">{{ news.label }}</div>
                        <a :href='news.link'>
                            <span>Read More</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="news_button">
                <a href="news.html">More News</a>
            </div>
        </div>
        </section>
        <section class="section_contact">
            <div class="contact_container">
                <div class="contact_bg">
                    <img src="pic/contact_bg_s.jpg" alt="">
                </div>
                <div class="contact_buttonlist">
                    <a href="contact.html" class="btn_contact">
                        <i class="fa-solid fa-mobile-screen"></i>
                        CONTACT US
                    </a>
                    <a href="login.html" class="btn_login">
                        <i class="fa-solid fa-user"></i>
                        LOG IN
                    </a>
                </div>
            </div>
        </section>
        <footer class="main_footer">
            <div class="footer_container">
                <div class="footer_list">
                    <div class="logo">
                        <img src="pic/footer_logo.svg" alt="">
                    </div>
                    <div class="info">
                        <p>
                            營業時間｜週一至週六 09:30-20:00 (週日公休)<br>
                            電話｜03-425-1108<br>
                            信箱｜maosgoody@gmail.com<br>
                            地址｜320 桃園市中壢區復興路46號<br>
                        </p>
                    </div>
                    <div class="nav">
                        <a href="#" v-for="item in footerlink">{{item}}</a>
                    </div>
                    <div class="follow">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="footer_copyright">
                    <p>本網站為緯育TibaMe前端工程師班第85期學員專題作品，本平台僅供學習、展示之用｜參考資源：GOCHISOY、boco to deco、OYOGE、新市區農會<br>
                        &copy; MAOSGOODY All Rights Reserved.</p>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    navList:[
                        {
                            index:'about',
                            link:'about.html',
                            name:'ABOUT'
                        },
                        {
                            index:'news',
                            link:'news.html',
                            name:'NEWS'
                        },
                        {
                            index:'products',
                            link:'products.html',
                            name:'PRODUCTS'
                        },
                        {
                            index:'contact',
                            link:'contact.html',
                            name:'CONTACT'
                        }
                    ],
                    loginImg:'pic/nav_login.png',
                    loginLink:'login.html',
                    cart:'pic/nav_cart.png',
                    homeLink:'index.html',
                    navLogo:'pic/nav_logo.svg',
                    
                    products: [
                        {
                            index: 'product1',
                            name_tw: '經典鹽味毛豆',
                            name_en: 'Classic Salty Edamame',
                            weight: '500g',
                            price: '$90',
                            img: 'pic/bowl_s.png'
                        },
                        {
                            index: 'product2',
                            name_tw: '毛豆乳酪冰淇淋',
                            name_en: 'Edamame & Cheese Gelato',
                            weight: '90g',
                            price: '$79',
                            img: 'pic/gelato_s.png'
                        },
                        {
                            index: 'product3',
                            name_tw: '毛豆可可脆餅',
                            name_en: 'Edamame Cocoa Biscuit',
                            weight: '300g',
                            price: '$290',
                            img: 'pic/cookie_s.png'
                        },
                    ],
                    productLink: 'products_item.html',
                    newsticker: 'pic/newsticker.png',
                    newsList: [
                        {
                            imgSrc: 'pic/news1_s.jpg',
                            date: '2023.05.24',
                            title: 'Petit Fleur 甜點跨界聯名！ 毛豆與布朗尼交織的法式小情歌',
                            article: '初夏法式甜點鉅獻！前端工程師吃了有如神助！讓你code人心弦、入幕三分，連Amos看了都說豪棒棒',
                            label: '新品上市',
                            link: '#'
                        },
                        {
                            imgSrc: 'pic/news2_s.jpg',
                            date: '2023.05.05',
                            title: '來去毛氏住一晚～ 小農輕旅行六月梯次開放預約囉',
                            article: '每天在Tibame盯著電腦吹冷氣，對打code人生失去動力嗎？快讓自然的遼闊山林和田野風情療癒你匱乏的心靈~',
                            label: '消息報報',
                            link: '#'
                        }
                    ],
                    footerlink: ["ABOUT", "NEWS", "PRODUCTS", "CONTACT"]
                }
            }
        }).mount('#app')
    </script>
</body>

</html>