<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>毛氏精選｜MAOSGOODY 毛氏好豆</title>
    <link href="pic/favicon.ico" rel="icon">
    <link rel="stylesheet" href="reset.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lexend+Deca:wght@200;300;400;500;600;700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Quicksand:wght@300;400;500;600&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="products.css">

</head>

<body>

    <div id="app">
        <input type="checkbox" id="menu_switch">
        <header class="main_header">
            <div class="container">
                <a :href="homeLink" class="logo">
                    <img :src="navLogo" alt="MAOSGOODY | 毛氏好豆">
                </a>


                <ul class="nav_list" v-for="list in navList" :key="list.index" >
                    <li><a :href="list.link">{{list.name}}</a></li>
                </ul>
                <ul class="nav_button">
                    <li>
                        <a :href="loginLink">
                            <img :src="loginImg" alt="Log in">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img :src="cart" alt="Cart">
                        </a>
                    </li>
                </ul>
                <label for="menu_switch" class="hb">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
        </header>




        <section class="section_banner">
            <div class="banner_container">
                <div class="banner_bg">
                    <!-- <img src="pic/products_banner.png" alt=""> -->
                </div>
                <div class="banner_text">
                    <div class="icon">
                        <img src="pic/products_bannericon.png" alt="">
                    </div>
                    <h2>PRODUCTS</h2>
                    <h3>毛氏精選</h3>
                </div>
            </div>
        </section>


        <section class="section_product">
            <div class="product_container">
                <div class="nav_wrap">
                    <div class="nav_list" id="menuPanel">
                        <div class="nav_icon">
                            <img src="pic/products_nav_icon.png" alt="">
                        </div>
                        <a href="products.html" v-for="item in menu">{{item}}</a>

                    </div>
                </div>
                <div class="product_wrap" id="productsPanel">

                    <div class="product_card" v-for="item in products">
                        <a href="products_item.html">
                            <div class="card_pic">
                                <img :src="item.card_pic" alt="">
                            </div>
                            <div class="card_text">
                                <h4 class="name">{{item.name}}</h4>
                                <h4 class="name_en">{{item.name_en}}</h4>
                                <div class="weight">{{item.weight}}</div>
                                <div class="price"><span>NT </span>${{item.price}}</div>
                            </div>
                            <div :class="item.class" v-html="item.title"></div>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <div class="section_page">
            <div class="page_container">
                <a href="#" class="p1">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
        </div>

        <footer class="main_footer">
            <div class="footer_container">
                <div class="footer_list">
                    <div class="logo">
                        <img src="pic/footer_logo.svg" alt="">
                    </div>
                    <div class="info">
                        <p>
                            營業時間｜週一至週六 09:30-20:00 (週日公休)<br>
                            電話｜03-425-1108<br>
                            信箱｜maosgoody@gmail.com<br>
                            地址｜320 桃園市中壢區復興路46號<br>
                        </p>
                    </div>
                    <div class="nav">
                        <a href="#" v-for="item in footerlink">{{item}}</a>
                    </div>
                    <div class="follow">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="footer_copyright">
                    <p>本網站為緯育TibaMe前端工程師班第85期學員專題作品，本平台僅供學習、展示之用｜參考資源：GOCHISOY、boco to deco、OYOGE、新市區農會<br>
                        &copy; MAOSGOODY All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>

    <script src=" https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    navList:[
                        {
                            index:'about',
                            link:'about.html',
                            name:'ABOUT'
                        },
                        {
                            index:'news',
                            link:'news.html',
                            name:'NEWS'
                        },
                        {
                            index:'products',
                            link:'products.html',
                            name:'PRODUCTS'
                        },
                        {
                            index:'contact',
                            link:'contact.html',
                            name:'CONTACT'
                        }
                    ],
                    loginImg:'pic/nav_login.png',
                    loginLink:'login.html',
                    cart:'pic/nav_cart.png',
                    homeLink:'index.html',
                    navLogo:'pic/nav_logo.svg',

                    menu: ["全部商品", "豆莢豆仁", "好味料理", "涮嘴點心", "飲料冰品", "生活雜貨"],
                    products: [
                        {
                            card_pic: "pic/product_pic_1_s.jpg",
                            name: "毛豆乳酪冰淇淋",
                            name_en: "Edamame & Cheese Gelato",
                            weight: "90g",
                            price: 79,
                            class: "card_label",
                            title: "人氣<br>NO.1"

                        },
                        {
                            card_pic: "pic/product_pic_2_s.jpg",
                            name: "經典鹽味毛豆",
                            name_en: "Classic Salty Edamame",
                            weight: "600g",
                            price: 250,
                            class: ""
                        },
                        {
                            card_pic: "pic/product_pic_3_s.jpg",
                            name: "毛豆可可脆餅",
                            name_en: "Edamame Cocoa Biscuit",
                            weight: "300g",
                            price: 290,
                            class: "card_label",
                            title: "團購<br>熱門"
                        },
                        {
                            card_pic: "pic/product_pic_5_s.jpg",
                            name: "新鮮生毛豆",
                            name_en: "Raw Edamame",
                            weight: "800g",
                            price: 200,
                            card_label: ""
                        },
                        {
                            card_pic: "pic/product_pic_4_s.jpg",
                            name: "極濃．毛豆Gelato",
                            name_en: "Thick Edamame Gelato",
                            weight: "100g",
                            price: 129,
                            card_label: ""
                        },
                        {
                            card_pic: "pic/product_pic_1_s.jpg",
                            name: "毛豆乳酪冰淇淋",
                            name_en: "Edamame & Cheese Gelato",
                            weight: "90g",
                            price: 79,
                            card_label: "人氣<br>NO.1"
                        },
                        {
                            card_pic: "pic/product_pic_2_s.jpg",
                            name: "經典鹽味毛豆",
                            name_en: "Classic Salty Edamame",
                            weight: "600g",
                            price: 250,
                            card_label: ""
                        },
                        {
                            card_pic: "pic/product_pic_3_s.jpg",
                            name: "毛豆可可脆餅",
                            name_en: "Edamame Cocoa Biscuit",
                            weight: "300g",
                            price: 290,
                            card_label: "團購<br>熱門"
                        },
                    ],
                    footerlink: ["ABOUT", "NEWS", "PRODUCTS", "CONTACT"]
                }
            },
        }).mount("#app");
    </script>



</body>

</html>