.section_banner,
.section_product,
.section_page {
    width: 100%;
}

.section_banner .banner_container {
    max-width: 100%;
    padding-top: 32px;
    position: relative;
}

.banner_container .banner_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner_container .banner_text .icon {
    width: 70px;
    margin: auto;
    padding-right: 4px;
}

.banner_container .banner_text .icon img {
    width: 100%;
}

.banner_container .banner_text h2 {
    font-size: 36px;
    font-weight: 600;
    color: white;
    letter-spacing: 4px;
    padding: 20px 0;
}

.banner_container .banner_text h3 {
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-align: center;
    letter-spacing: 4px;
}

.section_product .product_container {
    margin: auto;
    padding: 50px 0 0;
    position: relative;
}

.product_container .nav_wrap .nav_list {
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 22px 0;
    box-sizing: border-box;
    border: 1px solid #D6D6D6;
}

.product_container .nav_wrap .nav_list .nav_icon {
    display: none;
    width: 36px;
    padding: 14px 0;
}

.product_container .nav_wrap .nav_list .nav_icon img {
    width: 100%;
}

.product_container .nav_wrap .nav_list a {
    font-size: 16px;
    font-weight: 300;
    color: #898989;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    margin: 5px 0;
    transition: 0.1s;
}

.product_container .nav_wrap .nav_list a:hover {
    color: #82E600;
}

.product_container .product_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.product_wrap .product_card {
    padding: 12px;
    position: relative;
    border-radius: 0 50px 0 0;
    transition: 0.1s;
}

.product_wrap .product_card .card_pic {
    width: 100%;
    border-radius: 0 48px 0 0;
    overflow: hidden;
}

.product_wrap .product_card .card_pic img {
    width: 100%;
    transform: scale(1);
    transition: 0.3s;
}

.product_wrap .product_card:hover {
    background-color: #F4F4EC;
}

.product_wrap .product_card:hover img {
    transform: scale(1.12);
    /* opacity: 0.7; */
}

.product_wrap .product_card a {
    text-decoration: none;
}

.product_wrap .product_card .card_text {
    text-align: center;
    color: black;
    padding: 25px 0 10px;
}

.product_wrap .product_card .card_text .name {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 8px;
}

.product_wrap .product_card .card_text .name_en {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 8px;
}

.product_wrap .product_card .card_text .weight {
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 18px;
}

.product_wrap .product_card .card_text .price {
    font-size: 22px;
    font-weight: 500;
    color: #82E600;
    padding-top: 16px;
    border-top: 1px solid #82E600;
}

.product_wrap .product_card .card_text .price span {
    font-size: 16px;
}

.product_wrap .product_card .card_label {
    width: 72px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: #82E600;
    line-height: 18px;
    position: absolute;
    top: 48%;
    left: 76%;
    padding: 18px 0;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 50%;
}

.product_wrap .product_card .card_label_gold {
    width: 72px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: #E2D28A;
    line-height: 18px;
    position: absolute;
    top: 48%;
    left: 76%;
    padding: 18px 0;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 50%;
}

.section_page .page_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 80px 0;
}

.section_page .page_container a {
    text-decoration: none;
    display: inline-block;
    width: 34px;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 500;
    color: #D6D6D6;
    line-height: 34px;
    text-align: center;
    border: 1.4px solid #D6D6D6;
    border-radius: 50%;
}

.section_page .page_container .p1 {
    color: #82E600;
    border: 1.4px solid #82E600;
}


@media screen and (max-width: 1023px) {
    .banner_container .banner_bg {
        max-width: 300px;
        height: 300px;
        background-image: url(pic/products_banner_mb.png);
        background-size: cover;
        background-position: center;
        margin: auto;
    }

    .section_product .product_container {
        width: 100%;
        padding: 20px 0 0;
    }

    .product_container .nav_wrap .nav_list {
        margin: auto;
        flex-wrap: wrap;
        gap: 20px;
        border: none;
    }

    .product_container .product_wrap {
        padding: 40px 20px 0;
    }

    .product_wrap .product_card {
        width: 240px;
        margin: auto;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    .banner_container .banner_bg {
        max-width: 900px;
        height: 270px;
        background-image: url(pic/products_banner.png);
        background-size: cover;
        background-position: center;
        margin: auto;
    }

    .banner_container .banner_text {
        top: 36%;
    }

    .banner_container .banner_text .icon {
        width: 84px;
    }

    .banner_container .banner_text h2 {
        font-size: 50px;
        font-weight: 600;
        color: white;
        letter-spacing: 4px;
        padding: 20px 0;
    }

    .banner_container .banner_text h3 {
        font-size: 20px;
        font-weight: 500;
        color: white;
        text-align: center;
        letter-spacing: 4px;
    }

    .section_product .product_container {
        max-width: 720px;
        margin: auto;
        display: flex;
        padding: 100px 0 0 20px;
        position: relative;
    }

    .product_container .nav_wrap .nav_list {
        width: 132px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 22px 0;
        box-sizing: border-box;
        border: 1px solid #D6D6D6;
        position: sticky;
        top: 80px;
        gap: 0px;
    }

    .product_container .nav_wrap .nav_list .nav_icon {
        display: block;
        width: 36px;
        padding: 14px 0;
    }

    .product_container .nav_wrap .nav_list .nav_icon img {
        width: 100%;
    }

    .product_container .nav_wrap .nav_list a {
        font-size: 14px;
        font-weight: 300;
        color: #898989;
        text-decoration: none;
        letter-spacing: 1px;
        display: inline-block;
        margin: 14px 0;
        transition: 0.1s;
    }

    .product_container .product_wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 10px;
        margin-left: 4%;
        padding: 0 10px;
    }

    .product_wrap .product_card {
        width: 190px;
        padding: 12px;
        position: relative;
        border-radius: 0 50px 0 0;
        transition: 0.1s;
    }

    .product_wrap .product_card .card_pic {
        width: 100%;
        border-radius: 0 48px 0 0;
        overflow: hidden;
    }

    .product_wrap .product_card .card_label {
        top: 40%;
        left: 74%;
    }

    .product_wrap .product_card .card_label_gold {
        top: 40%;
        left: 74%;
    }

}


@media screen and (min-width: 1024px) {
    .section_banner .banner_container {
        max-width: 100%;
        padding-top: 32px;
        position: relative;
    }

    .banner_container .banner_bg {
        max-width: 1180px;
        height: 355px;
        background-image: url(pic/products_banner.png);
        background-size: cover;
        background-position: center;
        margin: auto;
    }

    .banner_container .banner_text {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .banner_container .banner_text .icon {
        width: 94px;
        margin: auto;
        padding-right: 4px;
    }

    .banner_container .banner_text .icon img {
        width: 100%;
    }

    .banner_container .banner_text h2 {
        font-size: 60px;
        font-weight: 600;
        color: white;
        letter-spacing: 4px;
        padding: 20px 0;
    }

    .banner_container .banner_text h3 {
        font-size: 20px;
        font-weight: 500;
        color: white;
        text-align: center;
        letter-spacing: 4px;
    }

    .section_product .product_container {
        max-width: 1140px;
        margin: auto;
        display: flex;
        padding: 100px 20px 0;
        position: relative;
    }

    .product_container .nav_wrap .nav_list {
        width: 132px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 22px 0;
        box-sizing: border-box;
        border: 1px solid #D6D6D6;
        position: sticky;
        top: 80px;
    }

    .product_container .nav_wrap .nav_list .nav_icon {
        display: block;
    }

    .product_container .nav_wrap .nav_list .nav_icon img {
        width: 100%;
    }

    .product_container .nav_wrap .nav_list a {
        font-size: 14px;
        font-weight: 300;
        color: #898989;
        text-decoration: none;
        letter-spacing: 1px;
        display: inline-block;
        margin: 14px 0;
        transition: 0.1s;
    }

    .product_container .nav_wrap .nav_list a:hover {
        color: #82E600;
    }

    .product_container .product_wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        /* padding-left: 40px; */
        margin-left: 4%;
    }

    .product_wrap .product_card {
        width: 190px;
        padding: 12px;
        position: relative;
        border-radius: 0 50px 0 0;
        transition: 0.1s;
    }

    .product_wrap .product_card .card_pic {
        width: 100%;
        border-radius: 0 48px 0 0;
        overflow: hidden;
    }

    .product_wrap .product_card .card_pic img {
        width: 100%;
        transform: scale(1);
        transition: 0.3s;
    }

    .product_wrap .product_card:hover {
        background-color: #F4F4EC;
    }

    .product_wrap .product_card:hover img {
        transform: scale(1.12);
    }

    .product_wrap .product_card a {
        text-decoration: none;
    }

    .product_wrap .product_card .card_text {
        text-align: center;
        color: black;
        padding: 25px 0 10px;
    }

    .product_wrap .product_card .card_text .name {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 2px;
        padding-bottom: 8px;
    }

    .product_wrap .product_card .card_text .name_en {
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 8px;
    }

    .product_wrap .product_card .card_text .weight {
        font-size: 13px;
        font-weight: 300;
        padding-bottom: 18px;
    }

    .product_wrap .product_card .card_text .price {
        font-size: 22px;
        font-weight: 500;
        color: #82E600;
        padding-top: 16px;
        border-top: 1px solid #82E600;
    }

    .product_wrap .product_card .card_text .price span {
        font-size: 16px;
    }

    .product_wrap .product_card .card_label {
        width: 72px;
        font-size: 14px;
        font-weight: 300;
        color: white;
        background-color: #82E600;
        line-height: 18px;
        position: absolute;
        top: 42%;
        left: 74%;
        padding: 18px 0;
        text-align: center;
        letter-spacing: 2px;
        border-radius: 50%;
    }

    .product_wrap .product_card .card_label_gold {
        width: 72px;
        font-size: 14px;
        font-weight: 300;
        color: white;
        background-color: #E2D28A;
        line-height: 18px;
        position: absolute;
        top: 160px;
        left: 164px;
        padding: 18px 0;
        text-align: center;
        letter-spacing: 2px;
        border-radius: 50%;
    }

    .section_page .page_container {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 80px 0;
    }

    .section_page .page_container a {
        text-decoration: none;
        display: inline-block;
        width: 34px;
        font-size: 16px;
        font-family: Quicksand;
        font-weight: 500;
        color: #D6D6D6;
        line-height: 34px;
        text-align: center;
        border: 1.4px solid #D6D6D6;
        border-radius: 50%;
    }

    .section_page .page_container .p1 {
        color: #82E600;
        border: 1.4px solid #82E600;
    }
}